/* CSS tổng thể */
*{
    font-family: "Rubik", sans-serif;
}
html{
    height: 100%;
    scroll-behavior: smooth;    
}
body{
    height: 100%;
    width: auto;
    margin: 0;
    transition: 0.30s;
            -webkit-transition: 0.30s;
            -moz-transition: 0.30s;
            -ms-transition: 0.30s;
            -o-transition: 0.30s;
}
/* CSS wrapper */
.wrapper{
    height: 100%;
}
/* CSS container */
.container{
    height: 100%;
    margin: 0 auto;
}

/* CSS HeaderBack (phần đầy bài đầu xuống khỏi bị che) */
.headerBack{
    /* background-color: red; */
    height: 70px;
}
/* ... */

/* ----------- CSS Header ------------------------------------- */

.headerContainer{
    margin: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(0deg, rgb(255 255 255 / 56%) 0%, rgb(255 255 255 / 54%) 100%);
    backdrop-filter: blur(20px);
}
.headerContainer  .logoImg{
    height: 100%;
    text-align: center;
}
.headerContainer  .logoImg img{
    object-fit: cover;
    /* object-position: center; */
    width: 50%;
    height: 100%;
}

.headerContainer .headerContainerMiddle, .headerContainerRight{
    /* height: 100%; */
    width: 50%;
    /* background-color: red; */
    display: grid;
    justify-content: right;
}
.headerContainer .headerContainerMiddle ul{
    display: flex;
    list-style: none;
    /* height: 100%; */
    align-items: center;
    padding: 0;
}
.headerContainer .headerContainerMiddle li{
    /* padding: 5px; */
}
.headerContainer .headerContainerMiddle li button{
    font-size: 26px;
    font-weight: 600;
    border: none;
    background: transparent;
    padding: 3px 5px;
    cursor: pointer;
    margin: 0px 5px;
}
.headerContainer .headerContainerMiddle li button:hover{
    background: black;
    color: whitesmoke;
    border-radius: 8px;
}

/* ----------- Hết CSS Header --------------------------------- */

/* ----------- CSS khung bên Trái (leftContainer) ------------- */

.leftContainer{

}

/* logoZone */
.leftContainer .logoZone{
    height: 110px;
    margin: 0;
}
.logoImg{
    height: 100%;
    text-align: center;
}
.logoImg img{
    object-fit: cover;
    /* object-position: center; */
    /* width: 25%; */
    height: 100%;
}
/* hết logoZone */

/* menuZone */
.leftContainer .menuZone{
    margin: 0;
}
.leftContainer .menuZone .col{
    margin: 10px 0px 10px 0px;
}
.leftContainer .menuZone button{
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    padding: 5%;
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius: 10px;
    transition: 0.20s;
    -webkit-transition: 0.20s;
    -moz-transition: 0.20s;
    -ms-transition: 0.20s;
    -o-transition: 0.20s;
}
.leftContainer .menuZone button:hover{
    background: black;
    color: white;
    transition: 0.20s;
    -webkit-transition: 0.20s;
    -moz-transition: 0.20s;
    -ms-transition: 0.20s;
    -o-transition: 0.20s;
}
.leftContainer .menuZone button:hover .numberNoti{
    background: white;
    color: black;
    
}
.leftContainer .menuZone button i{
    float: left;
    padding-top: 2%;
}
.leftContainer .menuZone button span{
    margin-left: 13px;
    float: left;
    padding-top: 2%;
}
.leftContainer .menuZone button .numberNoti{
    float: right;
    color: white;
    background-color: black;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 50%;
}
/* hết menuZone */

/* musicPlayerZone */
.leftContainer .musicPlayerZone{
    /* height: 120px; */
    margin-top: 50%;
}
.leftContainer .CtnmusicPlayer{
    /* background-color: rgb(196, 196, 196); */
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    padding: 0;
}
.leftContainer .CtnmusicPlayer .musicPLayerTop{
    margin-top: 3%;
    /* height: 75%; */
}
.leftContainer .CtnmusicPlayer .musicPLayerTop .musicPlayerTopSongImg{
    padding: 0;
}
.leftContainer .CtnmusicPlayer .musicPLayerTop .musicPlayerTopSongImg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.leftContainer .CtnmusicPlayer .musicPLayerTop .musicPlayerTopInfo .row{
    margin: 0px 0px 5px 0px;
}
.leftContainer .CtnmusicPlayer .musicPLayerTop .musicPlayerTopInfo .musicPlayerTopSettings{
    padding: 0;
}
.leftContainer .CtnmusicPlayer .musicPLayerTop .musicPlayerTopInfo .musicPlayerTopSettings button{
    float: right;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    transition: 0.20s;
    -webkit-transition: 0.20s;
    -moz-transition: 0.20s;
    -ms-transition: 0.20s;
    -o-transition: 0.20s;
}
.leftContainer .CtnmusicPlayer .musicPLayerTop .musicPlayerTopInfo .musicPlayerTopSettings button:hover{
    background: black;        
    color: white;
    transition: 0.20s;
    -webkit-transition: 0.20s;
    -moz-transition: 0.20s;
    -ms-transition: 0.20s;
    -o-transition: 0.20s;
}
.leftContainer .CtnmusicPlayer .musicPLayerTop .musicPlayerTopInfo .musicPlayerTopSongName{
    text-align: center;
}
.leftContainer .CtnmusicPlayer .musicPLayerTop .musicPlayerTopInfo .musicPlayerTopFeature button{
    cursor: pointer;
    border: none;
    background: transparent;
    border-radius: 5px;
    transition: 0.20s;
    -webkit-transition: 0.20s;
    -moz-transition: 0.20s;
    -ms-transition: 0.20s;
    -o-transition: 0.20s;
}
.leftContainer .CtnmusicPlayer .musicPLayerTop .musicPlayerTopInfo .musicPlayerTopFeature button:hover{
    transform: scale(1.2);
    transition: 0.20s;
    -webkit-transition: 0.20s;
    -moz-transition: 0.20s;
    -ms-transition: 0.20s;
    -o-transition: 0.20s;
}
.leftContainer .CtnmusicPlayer .musicPLayerBottom{
    margin: 4%;
    /* height: 25%; */
}
.leftContainer .CtnmusicPlayer .musicPLayerBottom .musicPlayerBottomTimeLine{
    
}
.leftContainer .CtnmusicPlayer .musicPLayerBottom .musicPlayerBottomTimeLine span{
    background-color: black;
    border: none;
    border-radius: 15px;
    height: 3.7px;
    display: block;
}
/* hết musicPlayerZone */

/* ----------- Hết CSS khung bên Trái (leftContainer) --------- */

/* ----------- CSS Khung ở giữa (middleContainer) ------------- */

.middleContainer{
    height: 100%;
    /* background-color: gainsboro; */
    overflow-x: hidden;
    overflow-y: auto;
}

/* CSS bài đăng */
.postWrapper{
    
}
.postContainer{
    height: 400px;
    /* background-color: antiquewhite; */
    padding: 10px;
}
/* Post Header */
.postContainer .postHeader{
    /* height: 15%; */
    background-color: #101010;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    padding: 10px;
}
.postContainer .postHeader .poster{
    height: 100%;
    width: 50%;
    display: flex;
}
.postContainer .postHeader .poster .posterAvatar{
    height: 100%;
    width: fit-content;
    justify-content: start;
    align-items: center;
    display: grid;
}
.postContainer .postHeader .poster .posterAvatar .btnPosterAvatar{
    background: none;
    border: none;
    cursor: pointer;
    /* vertical-align: middle; */
    width: fit-content;
    border-radius: 50%;
}
.postContainer .postHeader .poster .posterAvatar img{
    vertical-align: middle;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    border: 0.2px solid dimgrey;
}

.postContainer .postHeader .poster .posterInfo{
    height: 100%;
    width: fit-content;
    justify-content: start;
    align-items: center;
    display: grid;
}
.postContainer .postHeader .poster .posterInfo button{
    background: none;
    border: none;
    cursor: pointer;
}
.postContainer .postHeader .poster .posterInfo .posterName{
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
}
.postContainer .postHeader .poster .posterInfo .posterName:hover{
    text-decoration: underline;
}
.postContainer .postHeader .poster .posterInfo .posterTime{
    font-size: 10px;
    color: grey;
    float: left;
}

/* ... */

/* CSS phần 3 chấm của bài đăng (postExtend)  */
.postExtend{
    height: 100%;
    width: 50%;
}
/* ... */
/* Post Content */
.postContainer .postContent{
    /* height: 75%; */
    background-color: #101010;
}
/* ... */
/* Post Interact */
.postContainer .postInteract{
    /* height: 10%; */
    background-color: #101010;
    border-radius: 0px 0px 10px 10px;
}
/* ... */
/* Hết CSS bài đăng */

/* ----------- Hết CSS Khung ở giữa (middleContainer) --------- */